.no-padding {
    padding: 0;
  }

  .section-title {
    font-family: "ITCAvantGardeProBkDemi";
    font-weight: bold;
    margin-top: 29px;
    color: white;
  }

  
.container-api{
    margin: 5% 0% 0% 5%;
}

.title-api{
    margin: "30px 0";
    font-weight:700; 
    font-size: 20px;

}

.desc-api{
    color: rgb(152 152 160);
    font-size: 15px;
    font-weight: 400;
}
