.side-bar {
  background-color: #0f1319;
  border-right: 1px solid #252527;
  color: #8d8d95;
  height: 100vh;
  margin-left: 25px;
  overflow: hidden;
  transition: width 0.3s ease;
  width: 200px;
}

.side-bar.collapsed {
  cursor: pointer;
  width: 50px;
}

.logo-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
}

.logo {
  display: block;
  margin-left: 0;
  margin-top: 20px;
  width: 70%;
}

.small-logo {
  display: none;
  margin: auto;
  width: 40px;
}

.section-title {
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

.item-list {
  color: #8d8d95;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  list-style-type: none;
  margin-left: 10px;
  padding: 0;
  text-decoration: none;
}

.item-list li {
  margin-bottom: 16px;
}

.item-list a:hover {
  color: #fff;
}

.selected-item a {
  color: #fff !important;
  font-weight: 600;
}

.collapsed .item-list,
.collapsed .section-title,
.collapsed .logo {
  display: none;
}
